/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* FONTS */
*{
    padding: 0;
    margin: 0;
}
body{
    height:100%;
    width:100%;
    background-size: 100% 80%;
    background-image: url(../svg/Group\ 4.svg);
    background-repeat:no-repeat;
    background-color:black;
    overflow-x: hidden;
}
@media (max-width:1269px) {
    body{
        background-size: 100% 55%;
    }
}
@media (max-width:1082px) {
    body{
        background-size: 100% 55%;
    }
}
@media (max-width:991px) {
    body{
        background-size: 100% 50%;
    }
}
@media (max-width:882px) {
    body{
        background-size: 100% 40%;
    }
}
@media (max-width:760px) {
    body{
        background-size: 100% 35%;
    }
}
@media (max-width:704px) {
    body{
        background-size: 100% 30%;
    }
}
@media (max-width:676px) {
    body{
        background-size: 100% 30%;
    }
}
@media (max-width:619px) {
    body{
        background-size: 100% 30%;
    }
}
@media (max-width:575px) {
    body{
        background-size: 100% 25%;
    }
}
@media (max-width:444px) {
    body{
        background-size: 100% 20%;
    }
}
@media (max-width:388px) {
    body{
        background-size: 100% 18%;
    }
}
@media (max-width:312px) {
    body{
        background-size: 100% 16%;
    }
}
@media (max-width:299px) {
    body{
        background-size: 100% 15%;
    }
}
/* SCROLL CSS */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar{
	width: 5px;
	background-color: #ffffff;
}

body::-webkit-scrollbar-thumb{
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#FFD700;
    scroll-behavior: smooth;
}
/* SCROLL CSS */

/* HEADER CSS */
.navbar.navbar-expand-lg.navbar-light{
    padding-top: 15px;
    background-color: black;
}
.container{
    margin-right: 2%;
    margin-left: 2%;
    max-width: 100%;
}
.companyName{
    font-size:18px;
    text-transform: uppercase;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-decoration: none;
    color: white;
}
.companyName:hover{
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(145, 145, 145);
    text-decoration-line: underline;
    text-decoration-color:#FFD700 ;
    text-underline-offset: 5px;
}
.navbar-nav{
    width: 80%;
    padding-left: 5%;
}
.nav-item{
    padding-left: 15%;
}
.d-flex {
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #55544e98;
    border: 1px solid transparent;
    border-radius: 20px;
    height: 35px;
}
.form-control {
    border: none;
    outline: none;
    width: 100%;
    padding: 7px;
    font-size: 13pt;
    background-color: transparent;
}
.form-control:focus{
    background-color: transparent;    
}
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.692);
}
.btn.btn-outline {
    height: 50px;
    border: none;
    outline: none;
    width: 3rem;
    color: rgba(255, 255, 255, 0.692);
}
.navbar-light .navbar-toggler{
    background-color: white;
    border: 1px solid white;
}
@media (max-width:1500px) {
    .companyLogo{
        width: 90px;
        height: 30px;
    }
    .companyName{
        font-size: 15px;
    }
    .nav-link{
        font-size: 13px;
    }
}
@media (max-width:1282px) {
    .navbar-nav{
        width: 80%;
        padding-left: 0;
    }
    .form-control{
        font-size: 7pt;
        padding: 6px;
    }
    .d-flex{
        height: 25px;
    }
    .fas.fa-search{
        font-size: 12px;
    }
}
@media (max-width:1184px) {
    .companyLogo{
        width: 50px;
        height: 20px;
    }
    .companyName{
        font-size: 12px;
    }
    .nav-link{
        font-size: 10px;
    }
    .form-control{
        font-size: 7pt;
        padding: 4px;
    }
    .d-flex{
        height: 25px;
    }
    .fas.fa-search{
        font-size: 12px;
    }
}
@media(max-width:991px){
    .companyLogo{
        width: 90px;
        height: 30px;
    }
    .companyName{
        font-size: 15px;
    }
    .nav-link{
        font-size: 13px;
        text-align: center;
    }
    .form-control{
        font-size: 10pt;
        padding: 5px;
    }
    .d-flex{
        margin: 0 auto;
    }
}
@media(max-width:486px){
    .companyLogo{
        width: 50px;
        height: 20px;
    }
    .companyName{
        font-size: 10px;
    }
    .nav-link{
        font-size: 13px;
        text-align: center;
    }
    .form-control{
        font-size: 10pt;
        padding: 5px;
    }
    .d-flex{
        margin: 0 auto;
    }
}
/* HEADER CSS */

/* CONTENT CSS */
/* .Contact{
    padding-top:7%;
}
.contactBox{
    width: 70%;
    margin: 0 auto;
    border: 1px solid transparent;
    background-color: #c9c9c98e;
    border-radius: 10em;
    padding: 2%;
    padding-top:1%;
}
.col-lg-12{
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-bottom: 6%;
}
.col-lg-5{
    width: 37.5%;
}
input{
    padding: 1%;
    border-radius:50px;
    border: none;
    background-color: #000000b4;
}
input::placeholder{
    font-family: 'Quintessential', cursive;
    color: #BC7E02;
}
select{
    padding: 1%;
    border-radius:50px;
    background-color: #000000b4;
    border: none;
}
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
.contactTitle{
    text-align: center;
    color: #BC7E02;
    margin: 0;
    padding-bottom: 4%;
    font-size: 2.5em;
    font-family: 'Quintessential', cursive;
}
.SendBtn{
    display: flex;
    justify-content: center;
}
.send{
    font-family: 'Quintessential', cursive;
    color: white;
    background-color: #BC7E02;
    padding: 1%;
    width: 20%;
    border: none;
    border-radius: 50px;
} */
@import url('https://fonts.googleapis.com/css?family=Roboto');
.container.contact{
    top: 50%;
    transform: translateY(10%);
    width: 100%;
    padding: 70px 0px;
}
.contact-fome{
    max-width: 70%;
    height: 450px;
    margin: 0 auto;
    background: rgba(46, 46, 46, 0.8);
    padding: 30px;
    border-radius: 50px;
    display: flex;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.8); */
}
.input-class{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-class, .msg{
    width: 48%;
    justify-content: space-between;
}
.msg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-class .input, .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #FFD700;
    padding: 10px;
    color: #b19a17;
    width: 100%;
}
.msg textarea{
    height: 263px;
    border-left: 2px solid #FFD700;
    border-right: 2px solid #FFD700;
}

::-webkit-input-placeholder{
    color: #b19a17;
}
::-moz-input-placeholder{
    color: #b19a17;
}
.btn.send{
    background: #ffde23af;
    text-align: center;
    padding: 15px;
    border-radius:  5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 13px;
}
.btn.send:hover{
    background-color: orange;
    color: black;
}
@media screen and (max-width: 808px){
    .contact-fome{
        flex-direction: column;
    }
    .msg textarea{
        height: 70px;
    }
    .input-class, .msg{
        width: 100%;
    }
    .btn.send{
        margin-bottom: 0;
    }
}
/* CONTENT CSS */


/* FOOTER */
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h4{
    margin-left:10% ;
}
ul{
	list-style: none;
	z-index: 1;
}
li{
	text-align: justify;
	z-index: 1;
}
footer{
	z-index: 1;
}
.footer{
	background-color:transparent;
    /* padding: 150px;*/
    padding-top: 10%;
    padding-bottom: 0;
}
/* .footer-col{
	width: 22%;
	padding: 0 15px;
} */
.Footer h4{
	font-size: 20px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 400;
	position: relative;
	text-align: center;
}
.Footer ul li:not(:last-child){
	margin-bottom: 10px;
}
.Footer ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	text-align: center;
	margin-right: 0px;
	transition: all 0.3s ease;
}
.Footer ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.Footer .social-links a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	text-align: center;
	margin-right: 30px;
	transition: all 0.3s ease;
}
.Footer .social-links a:hover{
	color: #ffffff;
	padding-left: 8px;
}
@media(max-width:991px){
    .Footer ul li a{
        font-size: 13px;
    }
    .Footer h4{
        font-size: 15px;
    }
}
@media(max-width: 860px){
	.Footer.col-sm-2{
		width: 50%;
		margin-bottom: 30px;
    }
    .Footer ul li a{
        font-size: 15px;
    }
    .Footer h4{
        font-size: 17px;
    }
}
@media(max-width: 444px){
	.Footer.col-sm-2{
		width: 100%;
}
}
.copyright{
	text-align: center;
	font-weight: 600;
    font-size: 23px;
	margin-bottom: 0;
}
.linkCompany{
    text-decoration: none;
    color: #212529;
}
.linkCompany:hover{
    color: #727272;
}
hr {
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
	height: 1px;
	border: 0;
}

/* FOOTER */